/* .jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; } */

      /* font-family: 'Mukta', sans-serif;
      font-family: 'Recursive', sans-serif; */

html, body {
  background-color: darkblue;
}

.box {
background-color: dodgerblue;

}

.box2 {
  background-color: antiquewhite;
}

h1 {
  color: antiquewhite;
  padding: 20px;
  text-align: center;
  font-family: 'Recursive', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2, h3 {
  padding: 20px;
  font-size: 25px;
  font-family: 'Mukta', sans-serif;
}

form {
  padding: 20px;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
}

p {
  padding: 20px;
  font-size: 20px;
  font-family: 'Mukta', sans-serif;
}

hr {
  border: 8px solid darkred;
}

footer {
  text-align: center;
  color: antiquewhite;
  font-size: 15px;
  font-family: 'Mukta', sans-serif;
  padding-bottom: 20px;
}

a {
  text-align: center;
  color: wheat;
  font-family: 'Mukta', sans-serif;
}
a:hover {
  color:cornflowerblue;
}
