<!DOCTYPE html>
<html>
<head>
 <title>
     Postal Rates
 </title>
</head>
​
<body>
​
 <h1>Postal Rates</h1>
​
<form action="/getRate" method="GET">
    <select name="postalRate">
        <option value='lettersStamped'>Letters - Stamped</option>
        <option value='lettersMetered'>Letters - Metered</option>
        <option value='largeEnvelopes'>Large Envelopes - Flats</option>
        <option value='firstClass'>First Class Package Service - Retail</option>
    </select><br>


    <label for="weight">Weight</label><br>
    <input type="text" name="weight"><br>
    <!-- <label for="postalRate2">Letters - Metered</label><br>
    <input type="text" name="postalRate2"><br>
    <label for="postalRate3">Large Envelopes - Flats</label><br>
    <input type="text" name="postalRate3"><br>
    <label for="postalRate4">First Class Package Service - Retail</label><br>
    <input type="text" name="postalRate4"><br> -->

<button type="submit">Calculate</button>
</form>

<h2>Cost:</h2>
<p><%= result %></p>
</body>
</html>