<!DOCTYPE html>
<html>
<head>
 
</head>
​
<body>
​
 <form action="/math" method="GET">
    <label for="operand1">Operand 1:</label><br>
    <input type="text" name="operand1"><br>
    <label for="operand2">Operand 2:</label>
    <br>
    <input type="text" name="operand2">
    <br>
    <label for="operator">Operator:</label><br>
    <select name="operator">
      <option value='add'>Add</option>
      <option value='subtract'>Subtract</option>
      <option value='multiply'>Multiply</option>
      <option value='divide'>Divide</option>
​
    </select>
    <button type="submit">Submit</button>
</form>
​
<h3>Result</h3>
<p><%= result %></p>
​
​
</body>
</html>