<!DOCTYPE html>
<html>
<head>
 <title>
     Postal Rates
 </title>
 <%- include ("../partials/header.ejs") %>
</head>
​
<body>
    
​<div class="box">
    <hr>
 <h1>Postal Rate Calculator</h1>

<div class="container-box">
 <div class="box2">
​<h2>Select Mail Type:</h2>
<form action="/getRate" method="GET">
    <select name="calculateRate">
        <option value='lettersStamped'>Letters - Stamped</option>
        <option value='lettersMetered'>Letters - Metered</option>
        <option value='largeEnvelopes'>Large Envelopes - Flats</option>
        <option value='firstClass'>First Class Package Service - Retail</option>
    </select><br><br><br>


    <label for="weight">Weight in Ounces:</label><br><br>
    <input type="text" name="weight"><br><br><br>


<button type="submit">Calculate</button>
</form>

<h3>Total Cost:</h3>
<p><%= result %></p>
</div>
<br><br><br>

<div class="box3">

<p>Easy.</p>
<p>Fast.</p>
<p>Done!</p>

</div>
</div>

<hr>
</div>

<footer>
    <a href="https://pe.usps.com/text/dmm300/Notice123.htm">View Rates on USPS.com</a> | Melissa Hall | CSE341 BYU Idaho
   
</footer>
</body>
</html>